<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>zero to one</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/index.css">
</head>

<body>
    <div class="hello">
        hello
    </div>
    <div class="welcome">
        <a href="/home">
            welcome
        </a>
    </div>
    <div class="tool">
        <ul class="clearfix">
            <li class="on">
                <span></span>
            </li>
            <li>
                <span></span>
            </li>
            <li>
                <span></span>
            </li>
        </ul>
    </div>
    <div class="enter">

    </div>
    <div class="lineStage">
        <canvas id="lineCanvas" width="1920" height="1080"></canvas>
    </div>
    <audio src="./assets/audio/intro.mp3" autoplay></audio>
    <audio src="./assets/audio/index_btn.mp3" id="btn_voice"></audio>
    <script src="./assets/js/index.js"></script>
</body>
<%include ./layout/umeng.html%>

</html>