body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hello {
    position: absolute;
    color: white;
    left: 5%;
    top: 5%;
    font-size: 30px;
    z-index: 12;
    text-transform: uppercase;
    filter: blur(0);
    animation: hello 1s linear;
}

@keyframes hello {
    from {
        filter: blur(10px)
    }
    to {
        filter: blur(0)
    }
}

canvas {
    background: black;
    cursor: crosshair;
}

.lineStage {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    z-index: 10;
}

@keyframes welcome {
    0% {
        left: 5%;
        height: 0;
    }
    20% {
        left: 5%;
        height: 50px;
    }
    100% {
        left: 70%;
        height: 50px;
    }
}

.welcome {
    color: white;
    font-size: 40px;
    position: fixed;
    left: 70%;
    z-index: 20;
    bottom: 10%;
    height: 50px;
    overflow: hidden;
    animation: welcome 10s linear;
    cursor: crosshair;
    mix-blend-mode: exclusion;
}

.tool {
    position: fixed;
    right: 20px;
    top: 30px;
    z-index: 11;
}

.tool ul {
    padding: 0;
    margin: 0;
    width: 150px;
    /* background: pink; */
}

.tool ul li {
    float: left;
    list-style: none;
    position: relative;
    height: 50px;
    margin-right: 10px;
}

.tool ul li span {
    background: white;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 5px 0px #9e9e9e;
    cursor: pointer;
}

.tool ul li.on span {
    background: #bebaa1;
}

.tool ul li span:hover {
    background: #bebaa1;
}

.tool ul li:nth-child(1) {
    width: 30px;
}

.tool ul li:nth-child(2) {
    width: 40px;
}

.tool ul li:nth-child(3) {
    width: 50px;
}

.tool ul li:nth-child(1) span {
    width: 30px;
    height: 30px;
}

.tool ul li:nth-child(2) span {
    width: 40px;
    height: 40px;
}

.tool ul li:nth-child(3) span {
    width: 50px;
    height: 50px;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.enter {
    position: fixed;
    right: 10%;
    bottom: 10%;
    z-index: 12;
    animation: index_arrow 2s linear 10s infinite;
    cursor: pointer;
}

.enter a {
    display: inline-block;
}

#icon {
    width: 50px;
    float: left;
}

.st0 {
    fill: transparent;
    stroke: white;
    stroke-width: 3px;
    stroke-dasharray: 5427.90283203125;
    stroke-dashoffset: 0;
    animation: dash 5s linear;
}

@keyframes dash {
    from {
        stroke-dashoffset: 5427.90283203125;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes index_arrow {
    from {
        right: 10%;
    }
    to {
        right: 8%;
    }
}